.headerImg{
    background-image: url("../img/Header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}
.headerDisplay{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(112, 162, 211);
}
.headerText{
    margin-top: 10px;
    margin-bottom: 0px;
    color: white;
    padding: 10px;
    font-size: 20px;
    
}
.title{
    margin: 0px;
    color: rgb(14, 64, 230);
    padding: 10px;
    font-size: 40px;
    
}
a{
    text-decoration: none;
}
.boxtext{
    border: 6px solid black;
    margin: 5px;
    margin-bottom: 20px;
    height: 200px;
    width: 150px;
}
main{
    margin-top: 50px;
    margin-bottom: 20px;
}
.mainbox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;


}
.mainflex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}
.secondflex{
    display: flex;
    justify-content: space-evenly;
    width: 80%;

}
.percent{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    justify-content:space-around;
    align-items: center;
}
.GamePercent{
    display: flex;
    flex-direction: column;
    width:80%;
    margin-bottom: 0px;
    justify-content:flex-end;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(37, 128, 212);

}
.footer2{
    background-color: rgb(37, 128, 212);
    height: 30px;
}
.footerText{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    color: white;
}
.titlestyle{
    text-align:center;
    display: flex;
    align-items: flex-end;
   
}
.pText{
color: white;
}
.gridTest{
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 2fr ;
    justify-items: center;
    
}
.title-cards-container{
    
    padding: 1.2em .5em;
    margin: 0;
    text-align: end;
    grid-column: span 2;
    font-size: 30px;
    width: 60%;
  
   
}
.gridLefft{
    border: 6px solid black;
    margin: 5px;
    margin-bottom: 20px;
}
.cookiesMargin{
    Margin-bottom: 24px;
    margin-top: 0px;
}
.cookiesText{
    font-size: 24px;
}
.cookiesTitles{
    color: rgb(14, 64, 230);
}
.cookiesMain{
    width: 70%;
}
.gameinfo{
    text-align: center;
}
.gametitle{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 128, 212);
}
P{
    margin: 5px;
}
.captura{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}
.capturasTamaño{
    width: 100%;
}
.capturaMargin{
    margin: 10px;
}
.Vladik{
    background-image: url("../img/VLABRU.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.dundaria{
    background-image: url("../img/DUNDARIA.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.punchClub2{
    background-image: url("../img/PUNCHC2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.spaceMarine2{
    background-image: url("../img/WH4KSCPM2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}
.coreKeeper{
    background-image: url("../img/COREKPE.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}
.ghostrunner2{
    background-image: url("../img/GHSTRNR2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}
.vampireSurvivor{
    background-image: url("../img/VAMPSUV.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}
.steamWorld{
    background-image: url("../img/STEMWCLL.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}
.falloutNewVegas{
    background-image: url("../img/FLLNVUE.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}
.gamebox{
    border: 6px solid black;
    margin: 5px;
    margin-bottom: 20px;
    height: 300px;
    width: 200px;
    
}
.gamebox:hover{
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0px 0px 20px rgb(0, 128, 255);
}
.caratula{
    width: 100%;
}
.link{
    font-size: 30px;
    border: 6px solid black;
    padding: 10px;    
    color: rgb(255, 255, 255);
    background-color: rgb(37, 128, 212);
}
@media(max-width: 1024px){
    .mainflex{
        flex-direction: column;
    }
    .percent{
        margin-bottom: 25px; 
        width: 100%;
        justify-content:center;
        align-items: center;
        flex-direction: row;
    }
    .GamePercent{
        width: 100%;
    }
}
@media(max-width: 768px){
    .title{
        
        font-size: 20px;
        text-align: center;
    }
    .mainbox{
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .mainflex{
        flex-direction: column;
    }
    .secondflex{
        flex-direction: column;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .percent{
        margin-bottom: 25px; 
        width: 100%;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footerText{
        text-align: center;  
    }
    .boxtext{
        height: 400px;
        width: 300px;
    }
    .gamebox{
        height: 400px;
        width: 300px;
    }
   
}
@media(max-width: 425px){
    .boxtext{
        height: 300px;
        width: 225px;
    }
    .gamebox{
        height: 300px;
        width: 225px;
    }
}
body{
    background-color: rgb(230, 230, 230);
}
